*{
    margin: 0;
    padding: 0;
}
#banner{
    background: linear-gradient(rgba(65, 87, 186, 0.5),#0a37aa),url(images/library.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.banner-text{
    text-align: center;
    color:aliceblue;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
}
.banner-text p{
    font-size: 20px;
    font-style: oblique;
}